<!doctype html>
<html>
<head>
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>云空间</title>
<link rel="stylesheet" href="/static/css/layui.css" media="all">
<script src="/static/layui.js"></script>
<style> 
		.spk1{
	padding: 0px;
	height: auto;
	width: auto;
	margin: 0px;
	overflow: hidden;
}
			
			
		.spzi h1{
	text-align:center;
	display: block;
	font-size: 25px;
	color: #AB0002;
	text-decoration: none;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
	
.flex-container {
    display: -webkit-flex;
    display: flex;

	 margin: auto;
    
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: auto;
}
.juzhon {position: absolute;width:400px;height:200px;left:50%;top:50%; 
margin-left:-200px;margin-top:-100px} 
</style>
	</head>

<body  >
	    
		

		<!-- Wrapper -->
			<div id="wrapper" >

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up " style="background-color: rgba(255, 255, 255, 0);">
						
						<div class="inner">
							<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
							 <legend>{$banji}上传作业</legend>
							</fieldset>
							
							<ul class="actions">
						
								<li><button onClick="upload()" class="button scrolly" style="background: #1E9FFF ; width: 200px;width: 300px"><strong style="color: black; font-size: 25px">上传作业</strong></button></li>
						
							</ul>
							<ul class="actions">
								
								<li><button onClick="task_show()" class="button scrolly" style="background: #F0F0F0 ;width: 200px;width: 300px"><strong style="color: black; font-size: 25px">查看作业</strong></button></li>
						
							</ul>
							<ul class="actions">
								
								<li><button onclick="backstage()" class="layui-btn layui-btn-normal layui-btn-radius" style="min-height: 50px; margin-top: 20px; opacity:0.7 ; min-width: 150px"><strong style="color: black; font-size: 25px">后台管理</strong></button></li>
						
							</ul>
							
							  <div class="spk1">
							   <div class="spzi">
								<h1 id="test"></h1>
								</div>
							 </div>
							 <ul class="actions">
								
								<li><button onClick="classfile_user_show()" class="button scrolly" style="background: #F0F0F0 ;width: 100px;width: 200px"><strong style="color: black; font-size: 15px">作业提交要求</strong></button></li>
						
							</ul>
						</div>
					</section>

		</div>
				
<link rel="stylesheet" href="/static/css/main.css" >
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/jquery.min.js" ></script>
	<script src="/static/js/jquery.scrollex.min.js" ></script>
	<script src="/static/js/jquery.scrolly.min.js" ></script>
	<script  src="/static/js/main.js" ></script>


	
</body>
	<script>
	function classfile_user_show(){
	
		layui.use(['jquery','layer'], function(){
        var $ = layui.jquery,
        layer = layui.layer;
		  var w = ($(window).width() * 1);
            var h = ($(window).height() - 300);
 //iframe窗
layer.open({
  type: 2,
  title: '作业提交要求',//closeBtn: 0, //不显示关闭按钮
  shade: [0],
  area: [w + 'px', h + 'px'],
  offset: 'b', //右下角弹出
   fixed: false, //不固定
  maxmin: true,
  anim: 2,
  content: ['/taskShowController/classfile_user_show', 'yes'], //iframe的url，no代表不显示滚动条
 

	
				});
	 });
	 }
	function upload()
	{
		
		 layui.use(['jquery','layer'], function()
			{
					
				var $ = layui.jquery,
				layer = layui.layer;
				
				layer.open({
						  type: 2,
						  title: false,
						  shade: [0],
                                                  offset: 'b',
						  area: ['340px', '215px'],
						  anim: 2,
						  content: ['jiaozyupload', 'no'], //iframe的url，no代表不显示滚动条
								});
								
								
				/*
			layer.alert('上传的文件自动格式化命名',{title:'自动命名'},function(index){
				layer.close(index);
					 layer.prompt({title: '请输入姓名', formType: 3}, function(name, index)//弹出窗口获取学号
				{
					layer.close(index);//关闭窗口
			  layer.prompt({title: '请输入学号', formType: 3}, function(xuehao, index)//弹出窗口获取学号
				{
					layer.close(index);//关闭窗口
						
						
					layer.close(index);//关闭窗口
				
				 	$.post("/func/index_function/jiaozy_function/setcookie_upload.php",{name:name,id:id,xuehao:xuehao},function(result,status)
						{
						
						layer.open({
						  type: 2,
						  title: false,
						  shade: [0],
						  offset: 'b',
						  area: ['340px', '300px'],
						  anim: 2,
						  content: ['/func/index_function/jiaozy_function/upload.html', 'no'], //iframe的url，no代表不显示滚动条
								});
								
						});
					}); 
				});
	
			}); */
					
		
	});	
		 
		 
		 
	 
		
	}
	/*
	function login()
	{
		 layui.use(['jquery','layer'], function()
			{
					
				var $ = layui.jquery,
				layer = layui.layer;
		if('{$password}'&&'{$xuehao}')
		{
		
			layer.msg('您已登录');
		}else{
		
				
				layer.prompt({title: '请输入学号用以身份验证', formType: 3}, function(xuehao, index)//弹出窗口获取学号
								{
									layer.close(index);
						layer.prompt({title: '输入密码验证身份', formType: 1}, function(password, index)
										{
										

										$.post("/taskShowController/class_admin_login",{xuehao:xuehao,password:password},function(result,status)//post方式把 “学号” 发送到数据处理文件
										{
												password1=result;
												 if(password==password1&&password1!=0)
													{
														layer.close(index);
														layer.msg('登陆成功');
														setTimeout(function () 
											{
												location.reload([true]);
											},2000);     // {# 每3秒刷新一次页面，这里1000毫秒为1秒 #}
														
													}
											else
												{
													layer.close(index);
													layer.msg('密码错误或用户不存在');
												}
		
	
										});	
						});	
				
		 });	
		}
			 });
	}
	*/
        
        
        
        function backstage()
	{
		
		if('{$password}'&&'{$xuehao}')
		{
          window.location.href="/BackstageController/backstage_class";
			}
else{
		 layui.use(['jquery','layer'], function()
			{
					
				var $ = layui.jquery,
				layer = layui.layer;
				
				layer.prompt({title: '请输入学号用以身份验证', formType: 3}, function(xuehao, index)//弹出窗口获取学号
								{
									layer.close(index);
						layer.prompt({title: '输入密码验证身份', formType: 1}, function(password, index)
										{
										

										$.post("/taskShowController/class_admin_login",{xuehao:xuehao,password:password},function(result,status)//post方式把 “学号” 发送到数据处理文件
										{
												var obj = JSON.parse(result);
												 if(obj.code==0)
													{
														layer.close(index);
														layer.msg(obj.msg,function(){
                                                  window.location.href="/BackstageController/backstage_class";          
                                                        });
														
													}
											else
												{
													if(obj.code==1)//是否修改密码
													{
														layer.alert('<i style="color:red;">密码错误，但该用户的确是管理员，是否忘记密码了？需要现在修改密码吗？</i>',{skin:'layui-layer-lan',anim:4},function(index){
															layer.prompt({title: '请输入注册时的许可码', formType: 3},function(xukekey,index){
																$.post('changepassword',{xukekey:xukekey,task:1},function(res)
																	   {
																	var obj2=JSON.parse(res);
																	if(obj2.code==0)
																	{
																		layer.msg(obj2.msg,function(){
																			layer.close(index);
																			layer.prompt({anim:4,title:'请输入密码'},function(newpassword,index){
																				$.post('changepassword',{task:2,newpassword:newpassword,xukekey:obj2.xukekey},function(res2){
																					var obj3=JSON.parse(res2);
																					layer.msg(obj3.msg);
																					layer.close(index);
																				});
																				
																			});
																			
																		});
																		
																	}else
																	{
																		layer.msg(obj2.msg);
																	}
																});
																
															});
															
															
														});
													}
													else
													{
														layer.msg(obj.msg);
													}
												
												}
		
	
										});	
						});	
				});
		 });	
		}
		 
		 
	 
		
	}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
		function task_show()
{
layui.use(['jquery','layer'], function(){
        var $ = layui.jquery,
                layer = layui.layer;
            var w = ($(window).width() * 1);
            var h = ($(window).height() * 1);

           var index= layer.open({
                resize: false,
                title: 'pyhton作业',
                shadeClose: true,
		offset: 'b',
                fixed: false, //不固定
                maxmin: true,
                area: [w + 'px', h + 'px'],
                type: 2,
                content: "/taskShowController/jiaozy",
        });

layer.full(index);
   });
}
		
//倒计时
layui.use('util', function(){
  var util = layui.util;
  
  //示例
  var endTime = '{$task_time}' //假设为结束日期
  ,serverTime = new Date().getTime(); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的
   
  util.countdown(endTime, serverTime, function(date, serverTime, timer){
    var str = date[0] + '天' + date[1] + '时' +  date[2] + '分' + date[3] + '秒';
    layui.$('#test').html('还剩：'+ str);
  });
});
		 var a_idx=0;
    jQuery(document).ready(function($){
      addTips = function(e){
        var a= new Array("相遇", "不一定", "有结局", "但", "一定有", "意义", "爱意", "随风起", "风止", "意难平", "黄昏","与落日","晚风","也思你","谢谢","你来过","我","一直在");
        var i=$("<span />").text(a[a_idx]);
        a_idx=(a_idx+1)%a.length;
        var x=e.pageX,y=e.pageY;
        i.css({
          "z-index": 0,
          "top":y-20,
          "left":x,
          "position":"absolute",
          "font-weight":"bold",
          "color":"#ff6651"
        });
 
        $("body").append(i);
        i.animate({"top": y-180,"opacity":0},1500,function(){i.remove()})
        return false;
      }
      //绑定鼠标左键
      $("body").click(addTips);
      //绑定鼠标左键
      $("body").bind("contextmenu",addTips)
  });
    </script>
    <script>
      function o(w,v,i){
          return w.getAttribute(v)||i
      }
      function j(i){
          return document.getElementsByTagName(i)
      }
      function l(){
          var i=j("script"),w=i.length,v=i[w-1];
          return {l:w,z:o(v,"zIndex",-1),o:o(v,"opacity",0.5),c:o(v,"color","0,0,0"),n:o(v,"count",99)}
      }
      function k(){
          r=u.width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth,
          n=u.height=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight
      }
      function b(){
          e.clearRect(0,0,r,n);
          var w=[f].concat(t);
          var x,v,A,B,z,y;
          t.forEach(function(i){
              i.x+=i.xa,
              i.y+=i.ya,
              i.xa*=i.x>r||i.x<0?-1:1,
              i.ya*=i.y>n||i.y<0?-1:1,
              e.fillRect(i.x-0.5,i.y-0.5,1,1);
              for(v=0;v<w.length;v++){
                  x=w[v];
                  if(i!==x&&null!==x.x&&null!==x.y){
                      B=i.x-x.x,z=i.y-x.y,y=B*B+z*z;
                      y<x.max&&(x===f&&y>=x.max/2&&(i.x-=0.03*B,i.y-=0.03*z),A=(x.max-y)/x.max,e.beginPath(),e.lineWidth=A/2,e.strokeStyle="rgba("+s.c+","+(A+0.2)+")",e.moveTo(i.x,i.y),e.lineTo(x.x,x.y),e.stroke())
                  }
              }
              w.splice(w.indexOf(i),1)
          }),m(b)
      }
      var u=document.createElement("canvas"),s=l(),c="c_n"+s.l,e=u.getContext("2d"),r,n,
      m=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||function(i){
          window.setTimeout(i,1000/45)
      },
      a=Math.random,f={x:null,y:null,max:20000};
      u.className="particle_canvas";
      var browserName = navigator.userAgent.toLowerCase();
      if (/msie/i.test(browserName) && !/opera/.test(browserName)) {
          u.className += ' ie10_gte';
      };
      u.id=c;
      u.style.cssText="position:fixed;top:0;left:0;z-index:"+s.z+";opacity:"+s.o;
      j("body")[0].appendChild(u);
      k(),window.onresize=k;
      window.onmousemove=function(i){
          i=i||window.event,
          f.x=i.clientX,
          f.y=i.clientY
      },
      window.onmouseout=function(){
          f.x=null,
          f.y=null
      };
      for(var t=[],p=0;s.n>p;p++){
          var h=a()*r,
          g=a()*n,
          q=2*a()-1,
          d=2*a()-1;
          t.push({x:h,y:g,xa:q,ya:d,max:6000})
      }
      setTimeout(function(){b()},100)

	</script>
</html>